################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.terraform/providers/registry.terraform.io/hashicorp
/.terraform.lock.hcl
